<%= form_for(@registered_application) do |f| %>
  <% if @registered_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registered_application.errors.count, "error") %> prohibited this registered_application from being saved:</h2>

      <ul>
      <% @registered_application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- Text input: name-->
  <div class="form-group">
    <%= f.label :name, class: "control-label" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <!-- Text input: url -->
  <div class="form-group">
    <%= f.label :url, class: "control-label" %>
    <%= f.text_field :url, class: 'form-control' %>
  </div>

  <!-- Text input-->
  <!--
  <div class="form-group">
    <label class="control-label" for="app_url">url</label>
    <div class="controls">
      <input id="app_url" name="url" type="text" placeholder="www..." class="input-large">
    </div>
  </div>
  -->
  
  <br>

  <!-- Button -->
  <div class="action">
    <div class="controls">
      <%= f.submit("Register", class: "btn btn-inverse") %>
    </div>
  </div>
<% end %>
